.tallySquare {
	box-sizing: border-box;
	border: 2px solid black;
	font-family: monospace;
	height: 80px;
	width: 80px;
}

.tallySquareInner {
	align-items: center;
	display: flex;
	height: 40px;
	padding-left: 8px;
}

.tallySquareSum {
	border-bottom: 2px solid black;
}

.image {
	height: 20px;
	margin-right: 0.5em;
	width: 20px;
}

@media (max-width: 700px) {
	.tallySquare {
		height: 60px;
		width: 60px;
	}
	.tallySquareInner {
		height: 30px;
		padding-left: 6px;
	}
	.image {
		height: 15px;
		width: 15px;
	}
}