.gridSquare {
	align-items: center;
	border: 1px solid black;
	display: flex;
	font-family: monospace;
	height: 80px;
	justify-content: center;
	width: 80px;
}

.faceUp,
.aftermath,
.offender {
	font-weight: bold;
}

.faceUp {
	border: 2px solid limegreen;
}

.clickable {
	cursor: pointer;
}

.aftermath {
	border: 2px solid gray;
}

.offender {
	border: 2px solid red;
}