.gridSquare {
	align-items: center;
	border: 1px solid black;
	display: flex;
	font-family: monospace;
	height: 80px;
	justify-content: center;
	width: 80px;
}

.faceUp,
.aftermath,
.offender {
	font-weight: bold;
}

.voltorb {
	height: 40px;
	width: 40px;
}

.faceUp {
	border: 2px solid blue;
}

.clickable {
	cursor: pointer;
}

.aftermath {
	border: 2px solid gray;
}

.offender {
	border: 2px solid red;
}

@media (max-width: 700px) {
	.gridSquare {
		height: 60px;
		width: 60px;
	}
	.voltorb {
		height: 30px;
		width: 30px;
	}
}