main {
	padding: 3em;
	text-align: center;
}

.wrapper {
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.scores {
	align-items: center;
	display: flex;
	gap: 2em;
	justify-content: center;
	margin-top: 2em;
}

.adjusted {
	margin-top: calc(2em - 3px);
}

.button {
	background-color: transparent;
	border: 1px solid black;
	cursor: pointer;
	font: inherit;
}