.tallySquare {
	box-sizing: border-box;
	border: 2px solid black;
	font-family: monospace;
	height: 80px;
	width: 80px;
}

.tallySquare > p {
	align-items: center;
	display: flex;
	height: 40px;
	padding-left: 8px;
}

.tallySquareSum {
	border-bottom: 2px solid black;
}